#:schema node_modules/wrangler/config-schema.json
name = "tickets-images-worker"
main = "src/index.ts"
compatibility_date = "2024-09-25"
compatibility_flags = ["nodejs_compat"]
node_compat = true
kv_namespaces = [
    { binding = "TICKETS_QR_IMAGES", id = "aa45c255f6f441dda71e45b0c11f132a", preview_id = "b297786957b249dca99978fad2cf95cb" }
]

[vars]
API_URL = "http://localhost:50123/graphql"
APP_ENV = "localhost"
TTL_EN_SEGUNDOS = 60

[env.localhost]
name = "tickets-images-worker-localhost"
kv_namespaces = [
    { binding = "TICKETS_QR_IMAGES", id = "aa45c255f6f441dda71e45b0c11f132a", preview_id = "b297786957b249dca99978fad2cf95cb" }
]

[env.localhost.vars]
API_URL = "https://api.jsconf.dev/graphql"
APP_ENV = "dev"
TTL_EN_SEGUNDOS = 60

[env.dev]
name = "tickets-images-worker-dev"
kv_namespaces = [
    { binding = "TICKETS_QR_IMAGES", id = "aa45c255f6f441dda71e45b0c11f132a", preview_id = "b297786957b249dca99978fad2cf95cb" }
]

[env.dev.vars]
API_URL = "https://api.jsconf.dev/graphql"
APP_ENV =  "dev"
TTL_EN_SEGUNDOS = 60

[env.production]
name = "tickets-images-worker-production"
kv_namespaces = [
    { binding = "TICKETS_QR_IMAGES", id = "47adcdcd224842dca5b5c91bd51e3f90", preview_id = "47b219e92f9a4f68980f5f5c84cc7218" }
]

[env.production.vars]
API_URL = "https://api.communityos.io/graphql"
APP_ENV = "production"
TTL_EN_SEGUNDOS = 600